{# qubes.TemplateSearch * {{ adminvm }} {{ updatevm }} allow #}
{# qubes.TemplateDownload * {{ adminvm }} {{ updatevm }} allow #}
qubes.TemplateSearch * {{ adminvm }} sys-firewall allow
qubes.TemplateDownload * {{ adminvm }} sys-firewall allow
