{% for mgmtvm in mgmtvms %}
admin.vm.Create.AppVM        * {{ mgmtvm }} dom0                  allow
admin.vm.Create.StandaloneVM * {{ mgmtvm }} dom0                  allow
admin.vm.Create.TemplateVM   * {{ mgmtvm }} dom0                  allow
admin.vm.Remove              * {{ mgmtvm }} @tag:created-by-{{ mgmtvm }}  allow target=dom0
qubes.Filecopy               * {{ mgmtvm }} @tag:created-by-{{ mgmtvm }}  allow
qubes.WaitForSession         * {{ mgmtvm }} @tag:created-by-{{ mgmtvm }}  allow
qubes.VMShell                * {{ mgmtvm }} @tag:created-by-{{ mgmtvm }}  allow
qubes.VMRootShell            * {{ mgmtvm }} @tag:created-by-{{ mgmtvm }}  allow {{ vmrootshell_args|items|map('join', '=')|join(',') }}
{% if not loop.last %}

{% endif %}
{% endfor %}
